<h1 class ="title">PassWordrobe</h1>
    <div class="area1">
        <div class="area2">
            <%= text_field_tag "searchtext","" %>
            <%=button_to "検索", "", class: "btn btn-primary" %>
        </div>
        <div class="area2">
            <%=link_to "＋新規登録", new_task_path, class: "btn btn-success" %>
            <%=button_to "削除", "", class: "btn btn-danger" %>
        </div>
    </div>
